/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);*/

@font-face {
    font-family: 'GothamBook';
    src: url('../addons/fonts/gotham-book.eot');
    src: url('../addons/fonts/gotham-book.eot') format('embedded-opentype'),
         url('../addons/fonts/gotham-book.woff') format('woff'),
         url('../addons/fonts/gotham-book.ttf') format('truetype'),
         url('../addons/fonts/gotham-book.svg#GothamBook') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../addons/fonts/gotham-bold.eot');
    src: url('../addons/fonts/gotham-bold.eot') format('embedded-opentype'),
         url('../addons/fonts/gotham-bold.woff') format('woff'),
         url('../addons/fonts/gotham-bold.ttf') format('truetype'),
         url('../addons/fonts/gotham-bold.svg#GothamBold') format('svg');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../addons/OpenSans/OpenSans-Regular.ttf');
    src: url('../addons/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../addons/OpenSans/OpenSans-Bold.ttf');
    src: url('../addons/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../addons/Roboto/Roboto-Bold.ttf');
    src: url('../addons/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../addons/Roboto/Roboto-Regular.ttf');
    src: url('../addons/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'OpenSans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333333;
}
.navbar {
    margin-bottom: 0;
    background-color: #494542;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}
.konten {
	margin-top:50px;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */

}
.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain;

}
.jumbotron {
    background-color: #494542; /* Orange */
    color: #ffffff;
}
.img-responsive { margin: 0 auto; }
.carousel img {
    min-width: 100%;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.list-unstyled {
	padding: 10px;
}
.list-unstyled li {
	margin-bottom: 5px;
}
#back-top a {
	position:fixed;
	bottom:30px;
	right:30px;
	color:#eee;
	background-color:rgba(0,0,0,0.3);
	-webkit-transition:all .25s ease;
	-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;
	transition:all .25s ease;
	padding: 8px 10px 8px 10px;
	border-radius:5px;
	text-align:center
}
#back-top a:hover {
	background-color:rgba(0,0,0,0.7)
	}
#back-top a i {
	font-size:1.1em
	}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#header {
	background-color: #494542;
}
.utama {
 position: relative;
 margin-top: 10px;
 margin-bottom: 10px;

}
#footer {
	background-color:#333;
	color:#ccc;
	padding: 17px;
	text-align:center;
	border-top:solid 1px #444;
}
#footer a {
	color:#6aceeb;
	text-decoration:none
	}
#footer a:hover {
	color:#fff
}
#footer p {
	margin:0px;
	padding: 3px;
	line-height:100%;
}
