<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sibpsntb/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sibpsntb/index.php [L]
</IfModule>